{% extends 'accounts/main.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body" style="text-align: center;" >
                <p>Are you sure you want to delete this order for {{ order }}</p>
                <form style="justify-content: space-around; align-items: center;" action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 ">

                    <a  class="btn btn-lg btn-info "  href="/">Cancel</a>
                </div>
                <div class="col-md-6">
                    <input class="btn btn-lg btn-danger " type="submit" name="confirm" value="confirm">
                    <div class="col-md-6">
            </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}