{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="/">
    <div  style="width: 100px;
    height: 46px;
    border-radius: 50%;
    overflow: visible;
    margin-top: -6px;">
          <img src="{% static 'images/mylogo1.png' %}" class="img-fluid">
    </div>
</a> -->
   
      <!-- <img src="{% static 'images/mylogo.png' %}" alt=""> -->
      <a class="navbar-brand" style="font-family: 'Nothing You Could Do', cursive; " href="/"> <i> Abhishek Mani</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% endif %}
      </ul>
     
    </div>
    <span class="mt-2" style="margin-right:20px;color: white; font-size: 18px;"><p>Hello , {{ request.user }}</p></span>
    <span> <a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Logut</a> </span>
  </nav>