{% extends 'accounts/main.html' %}

{% block content %}
<div class="row">
<div class="col-md-6 mx-auto">
<div class="card">
    <div class="card-body">
        <form action="" method='POST'>
            {% csrf_token %}
            {{formset.management_form}} <!--this line is important other wise we will get the error on submission -->
            <!-- {{formset}} this way we can display all at once -->
            {% for form in formset %}
                {{form}}
                <hr>
            {% endfor %}
            
            <br>
            <input style="display: flex; " class="btn btn-sm btn-info mx-auto" type="submit" name="submit">
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}